:root {
  /** ============ CSS-змінні ============ */
  --color-font-body: #220c0c;
  --color-title-lesson: #094b00;
  --color-title-section: rgb(17, 168, 0);
  --color-title-subsection: rgb(1, 192, 5);
}

body {
  font-family: 'Montserrat', serif;
  font-size: 1.5rem;
  padding: 20px 20px 150px;
  color: var(--color-font-body);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 100px;
  font-size: 36px;
}

.enter {
  height: 300px;
}

/* box */

.box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  animation-name: changeBgColor;
  animation-duration: 3000ms;
  /* animation-duration: 0.5s; */
  animation-timing-function: linear;
  /* animation-timing-function: ease-in-out; */
  animation-delay: 1000ms;
  /* animation-delay: 0.25s; */
  animation-iteration-count: 5;
  /* animation-iteration-count: infinite; */
  animation-direction: alternate;
  /* animation-direction: reverse; */
  /* animation-direction: alternate-reverse; */
  animation-fill-mode: none;
  animation-fill-mode: forwards;
  animation-fill-mode: backwards;
  animation-fill-mode: both;

}

/* .box:hover {
  animation-name: changeBgColor;
} */

.box:hover {
  animation-play-state: paused;
}

@keyframes changeBgColor {
  0% {
    background-color: teal;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: deepskyblue;
  }
}

/* btn bouncing */

@keyframes bouncing {
  0% {
    transform: translateY(0%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  100% {
    transform: translateY(100%);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  }
}

/* animation: [name] [duration] [timing-function] [delay] [iteration-count] [direction] [fill-mode] [play-state] */

.loading-button {
  animation: bouncing 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate
    both;
}

/* animation circle-box */
.content {
  padding: 50px;
}

.content-circle {
  height: 100px;
  width: 100px;
  background-color: cornflowerblue;
  border-radius: 50%;
  position: relative;
  left: 0;

  animation-name: white-circle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.content:hover .content-circle {
  animation-play-state: paused;
}

@keyframes white-circle {
  0% {
    left: 0;
  }

  50% {
    border-radius: 0;
  }

  100% {
    left: 500px;
  }
}

/* sun img */
img {
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* HW-8 - 30 */

.box-wrapper {
  width: 300px;
  height: 300px;
}

.box-child {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: box-circle;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes box-circle {
  0% {
    background-color: red;
    transform: translate(0%, 0%);
  }

  25% {
    background-color: blue;
    transform: translate(0%, 200%);
  }

  50% {
    background-color: green;
    transform: translate(200%, 200%);
  }

  75% {
    background-color: yellow;
    transform: translate(200%, 0%);
  }
}

/*  hw - 3-25 position */

.list-test {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid red;
}

.list-test .item {
  width: 180px;
  height: 180px;
}

.item.pink {
  background-color: palevioletred;
}

.item.green {
  align-self: flex-end;
  background-color: rgb(77, 206, 77);
}

.item.blue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(87, 87, 215);
}

/* <!-- hw - 5-27 position --> */

.menu-box {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.menu-wrapper {
  position: absolute;
  width: 240px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 100%;
  background-color: dimgray;
  transform: translateX(-200px);
  transition: transform 0.5s ease; 
}

.menu-wrapper:hover  {
  transform: translateX(0);
}

.menu-wrapper:hover  .close-menu-link{
  display: none;
}

.close-menu-link {
  flex-shrink: 0;
  width: 400px;
  height: 40px;
  color: #fff;
  padding: 10px;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  text-align: center;
  cursor: pointer;
  transition: display 0.5s ease; 
}

.menu-list {
  flex-shrink: 0;
  flex-basis: 200px;
  width: 200px;
  height: 100%;
  padding: 40px 20px;
  background-color: dimgray;
  color: #fff;
}

.menu-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.menu-list-item:hover {
  color: coral;
}